<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <br>
  <div class="form-control">    
  <select class="form-control" (change)="cambiarDepartamento($event.target.value)" ng-model="mesfecha">
     <option  *ngFor="let fiesta of fiestas" value="{{fiesta.idDepartamentos}}">{{fiesta.Nombre_Deptos}}</option>
    </select>
  </div>
  <br>
  <br>
  <div class="col-md-12">
  <div class="row col-md-11" *ngIf='depafiesta'>
    <div class="col-xs-6 col-md-4" *ngFor="let depaf of depafiesta">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{depaf.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{depaf.Comunidad}}</h5>
          <p class="card-text">{{depaf.Descripcion}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{depaf.Fiesta}}</li>
          <li class="list-group-item">{{depaf.Comunidad}}</li>
          <li class="list-group-item">{{depaf.Departamento}}</li>
        </ul>
      </div>
        <br>
    </div>
      <br>
    </div>
  </div>
  <span *ngIf='!depafiesta' style="text-align:center">cargando datos....</span>
</div>
