<!--The content below is only a placeholder and can be replaced.-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"[routerLink]="['/fiestas']" [routerLinkActive]="['active']">Fiestas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/comunidades']" [routerLinkActive]="['active']">Comunidades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/departamentos']" [routerLinkActive]="['active']">Departamentos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/fiestames']" [routerLinkActive]="['active']">Fiestas del Mes</a>
  </li>
</ul>
<router-outlet></router-outlet>
