<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <br>
  <div class="form-control">    
  <select class="form-control" (change)="cambiarComunidad($event.target.value)" ng-model="mesfecha">
     <option>Seleccione una Comunidad</option>
     <option  *ngFor="let fiesta of fiestas" value="{{fiesta.idComunidades}}">{{fiesta.Nombre_Comunidad}}</option>
    </select>
  </div>
  <br>
  <br>
<div class="col-md-12">
  <div class="row col-md-11"  *ngIf='comunfiesta'>
    <div class="col-xs-6 col-md-4" *ngFor="let comunid of comunfiesta">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{comunid.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{comunid.Comunidad}}</h5>
          <p class="card-text">{{comunid.Descripcion}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{comunid.Fiesta}}</li>
          <li class="list-group-item">{{comunid.Comunidad}}</li>
          <li class="list-group-item">{{comunid.Departamento}}</li>
        </ul>
      </div>
        <br>
      </div>
      <br>
    </div>
  </div>
  <span *ngIf='!comunfiesta' style="text-align:center">cargando datos....</span>
</div>
